<!doctype HTML>
<html>
<head>
<title><%= title %></title>
<%- tierClientScript %>
<body>
<h1><%= typeof header === 'undefined' ? title : `${title} - ${header}` %></h1>
<%- include('./nav.include.ejs') %>
