<%- include('./header.include.ejs') %>

<form id="payment-form">
  <div id="payment-element"></div>
  <button type="submit" class={className}>
    Submit
  </button>
  <div id="payment-error"></div>
</form>

<script>
// could do this in a window.onDOMContentLoaed handler, or
// just put the <script> tag after the <form>, your call.
// works fine either way.
Tier.paymentForm(<%= JSON.stringify(stripeOptions) %>, {
  // these are selectors to tell Stripe elements where to
  // mount the Card element and where to display any errors.
  form: '#payment-form',
  payment: '#payment-element',
  error: '#payment-error',
})
</script>
